html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('./images/bg-pattern.png');
}

.search-form {
  margin: 0 auto;
  width: 50vw;
}

.search-form > input {
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  margin: 0.5vw;
  width: 30vw;
}

.photo-card > img {
  max-width: 30vw;
  min-height: 20vw;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.stats-item {
  margin: 0 auto;
}
